body{
    height: 100vh;
    background-image: linear-gradient(rgb(60, 50, 136), rgb(67, 82, 149), rgb(74, 96, 153), rgb(107, 127, 164));
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    user-select: none;
}
label{
    color: white;
}
h1{
    color: aliceblue;
}
span{   
    color: green;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
#Email1{
    margin: auto;
    width: auto;
}
#Email2{
    margin: auto;
    width: auto;
    margin-left: 100px;
}
#password1{
    margin: auto;
    width: auto;
}
#password2{
    margin: auto;
    width: auto;
    margin-left: 85px;
}
#b{
    margin-left: 85px;
    color: rgb(10, 245, 166);
    background-color: rgb(31, 64, 136);
}
#escritura{

    margin-left: 8px;

}

.FIESTA-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px; /* Espacio entre las tarjetas */
	justify-content: space-between; /* Espaciado uniforme en la fila */
  }
   
  .FIESTA-card {
    
    background-color: #819ed4;
    margin: 0 auto; /* Esto centra horizontalmente el elemento */
    max-width: 600px; /* Puedes ajustar el ancho máximo según tus necesidades */
    border: 1px solid rgba(27, 24, 41, 0.795);
    border-radius: 0.75rem;
    padding: 10px;
    margin-bottom: 20px;
  }
   
  .FIESTA-card h3 {
	margin-top: 0;
	margin-bottom: 10px;
  }