name: Main Test

on:
  pull_request:
    types: [opened, reopened, ready_for_review]
    branches: [master]

jobs:
  test_changes:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.15.0'

    - name: Install dependencies
      run: npm ci

    - name: Build and run development server
      run: npm start&

    - name: Run tests
      run: npm run sample-test
